
table {
    border-collapse: collapse; 
    border: 2px solid rgb(0, 0, 0);
  }

  th, td {
    padding: 10px; 
    border: 1px solid #000;
  }

 h4, p {
    
    font-size: 20px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    width:50%;
    text-align: justify;
    align-items: center;
}

div{
    display: flex;
    justify-content: center;
  }











